@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

.form-input,
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #d9d9d9;
}

.form-input.error,
.form-input:focus:not(.toggle-input-type),
textarea:focus {
  border: 1px solid #ff643b !important;
}

.form-input {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  border: solid 1px #d9d9d9;
  background-color: #fff;
  padding-left: 16px;
  @include placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.password-box {
  position: relative;
  height: 44px;

  input {
    position: absolute;
    height: 100%;
  }
  input.toggle-target-input {
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    margin: 0;
    padding-left: 16px;
    padding-right: 20%;
    border-radius: 4px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
  }
  input.toggle-input-type {
    right: 0;
    width: 20%;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: #4a90e2;
    font-size: 14px;
    cursor: pointer;
  }
}

section {
  margin-bottom: 50px;
}

