$font-xsm: 10px;
$font-ssm: 13px;
$font-sm: 14px;
$font-md: 15px;
$font-lg: 18px;
$font-xl: 21px;
$font-xxl: 24px;

$margin-top-xsm: 5px;
$margin-top-ssm: 7px;
$margin-top-sm: 10px;
$margin-top-md: 12px;
$margin-top-lg: 16px;
$margin-top-xl: 24px;
$margin-top-xxl: 40px;
