<template>
  <div>
    <p>This is Sign In Result Page.</p>
    <router-link to="/">Go to Home</router-link>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component({})
  export default class Result extends Vue {

  }
</script>

<style scoped lang="scss">
  p {
    margin: 30px auto;
  }
</style>