<template>
  <div class="spinner">
    <img src="@/assets/image/spinner_lg.svg">
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  // TODO: below import does not import functions in `authJWTList`
  import authJWTList from '@/common/jwt.service';

  // TODO: but this import can import.
  // import authJWTList from '../common/jwt.service';

  @Component({})
  export default class Home extends Vue {

    public loginSucceeded() {
      this.$router.push('/result');
    }

    public created() {
      // const facebookInfo = this.$route.query;
      const facebookInfo = this.$route.query;

      // TODO : It's impossible to access object of `this.$route.query`
      // TODO : Also declared function `saveAuthToken` in `authJWTList`
      if (facebookInfo.authorization_token) {
        authJWTList.saveAuthToken(facebookInfo.authorization_token);
      }
      if (facebookInfo.id) {
        authJWTList.saveFacebookSignId(facebookInfo.id);
      }
      if (facebookInfo.state) {
        authJWTList.saveFacebookState(facebookInfo.state);
      }
      if (facebookInfo.refresh_token) {
        authJWTList.saveRefreshToken(facebookInfo.refresh_token);
      }
      setTimeout(this.loginSucceeded, 2000);
    }
  }
</script>

<style scoped lang="scss">
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      will-change: transform;
      transition-property: transform;
      animation-name: rotate;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>