<template>
  <ul>
    <li><p><router-link class="link" to="/sign_in">Sign In</router-link></p></li>
  </ul>
</template>
<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';

  @Component({
    components: {},
  })
  export default class Test extends Vue {

    public created() {
      console.log(navigator);
      navigator.geolocation.getCurrentPosition((position) => {
        console.log(position);
      });
    }
  }
</script>

<style scoped lang="scss">

  ul {
    width: 100%;
    text-align: left;
    list-style: none;

    li {
      width: 100%;
      border: 1px solid #eee;
      background-color: #333333;

      p {
        width: 100%;
        object-fit: contain;
        font-family: $roboto;
        font-size: $font-md;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: #000;

        .link {
          text-decoration: none;
          color: #fff;
          padding: 10px;
          width: 100%;
          display: block;
        }
      }
    }
  }
</style>