<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
  @import "~normalize.css";
  @import "~roboto-fontface/css/roboto/roboto-fontface.css";
  @import "~typeface-heebo/index.css";
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    -webkit-tap-highlight-color: transparent;
  }
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background-image: none !important;
    color: inherit !important;
  }

  a {
    text-decoration: none;
  }
</style>
